# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\exp_final\MSSTNet_2D+3D\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
# Zeppelin ignored files
/ZeppelinRemoteNotebooks/
